/*
	Aside Menu
*/

.side-menu{

	h4.title{
		margin:4px 0px; 
		position:relative;
		font-size: 16px;
		&:after{
		    position: absolute;
		    bottom: -6px;
		    left: 0px;
		    width: 50px;
		    height: 2px;
		    background: $blue;
		    content: "";
		}
	}

	.list-group-item {
    	padding: 8px 15px;
    	a{
    		i{
    			width:25px;
    			text-align:center;
    		}
    		font-size:13px;
    		color:$dark-gray;
    	}
    }
}